body
{
	font-family:tahoma, helvetica, sans-serif;
	font-size: 10pt;
}

code
{
	font-family:monospace, courier-new, courier;
	font-weight:bold;
}

.explanation
{
	margin-left:10px;
	text-align:justify;
	max-width: 500px;
	margin-bottom:30px;
}

.code_example
{
	background-color:#BBB;
	border:1px solid #222;
	font-family:monospace, courier-new, courier;
}